<table>
    <thead class="fabulous-headers">
        <tr>
            {{#each headers as |header index|}}
                <th class="fabulous-header fabulous-header-{{index}}
                    {{header.headerClass}}
                    {{if header.orderPath 'sortable' '' }}"
                    {{action 'orderBy' header.orderPath}}>
                    {{fabulous-header-content header=header orderBy=orderBy orderDirection=orderDirection}}
                </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
        {{#each sortedModel as |item|}}
            <tr class="fabulous-row" {{action 'rowClicked' item}}>
                {{yield item}}
            </tr>
        {{/each}}
    </tbody>
</table>

<div class="spinner">
    <i class="icon ion-load-c"></i>
</div>

<div class="fabulous-fixed-headers">
    <!-- this format prevents the inline-block-gap-"bug" -->
    {{#each headers as |header index|}}<span
            class="fabulous-fixed-header {{header.headerClass}}
                {{if header.orderPath 'sortable' '' }}"
        {{action 'orderBy' header.orderPath}}
            data-fabulous-header-target="{{index}}">
        {{fabulous-header-content header=header orderBy=orderBy orderDirection=orderDirection}}
    </span>{{/each}}
</div>