<div class="fabulous-headers row">
    {{#each headers as |header|}}
        <div class="fabulous-header {{header.headerClass}} {{if header.orderPath 'sortable' '' }}" {{action 'orderBy' header.orderPath}}>
            <span class="label">
                {{header.label}}

                {{#if (eq orderBy header.orderPath)}}
                    <i class="icon ion-ios-arrow-{{if (eq orderDirection 'asc') 'down' 'up'}}"></i>
                {{/if}}
            </span>
        </div>
    {{/each}}
</div>

{{#each sortedModel as |item|}}
    <div class="fabulous-row row" {{action 'rowClicked' item}}>
        {{yield item}}
    </div>
{{/each}}
